<%= link_to event_path(event) do %>
  <li> <%= event.title %> </li>
<% end  %>
<%= link_to 'Delete', event, method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to 'Edit Event', edit_event_path(event) %>