<%= link_to "Sign up", new_user_registration_path %>

<h1>First Question</h1>

<%= link_to "Create Event", new_event_path, :remote => true %>

<section id='new_event_wrapper'>
  <section id='new_question_wrapper'></section>
</section>