<h1><%= @event.title %></h1>

<section class="space-50"> </section>

<div class="container question">
  <div class="col-sm-6">
    <h2>Question <span id="question-number">?</span> of <%= @event.questions.count %>:</h2>
    <h1 id="question-title">Do you like bananas?</h1>
    <form action="" class="question-form">
      <ul>
        <li>
          <input id="choice-1" type="radio" name="answer" value="1">
          <label id="choice-1-text" for="choice-1">Yes, they are great!</label>
        </li>
        <li>
          <input id="choice-2" type="radio" name="answer" value="1">
          <label id="choice-2-text" for="choice-2">No, not goooood!</label>
        </li>
      </ul>
    </form>
    <button type="submit" class="btn btn-fill btn-primary hundred-width">Submit Answer</button>
  </div>
</div>

<!--
<%= javascript_include_tag "pusher-2.2.3" %>
<script>
  window.addEventListener("DOMContentLoaded", function() {
    <% if defined?(PusherFake) %>
      Pusher.instance = <%== PusherFake.javascript %>;
    <% else %>
      // Other environments, such as production.
    <% end %>
    var
    Chat = Pusher.instance.subscribe("chat");
    Chat.bind("message", function(message) {
      var list = document.getElementsByTagName("ul")[0],
          item = document.createElement("li"),
          text = document.createTextNode(message.body);
      item.appendChild(text);
      list.appendChild(item);
    });
  }, false);
</script> -->
