<div class="container">
  <div class="col-sm-6">
    <h1><%= @event.title %></h1>
    <div id="event-id" style="display:none;"><%= @event.id %></div>

    <section class="space-50"> </section>

    <div class="holding-message">
      <h2>Awaiting Question</h2>
    </div>

<div class="container question">
  <div class="col-sm-6">
    <h2>Question <span id="question-number">?</span> of <%= @event.questions.count %>:</h2>
    <h1 id="question-title"></h1>
    <form class="question-form">
      <ul>
        <li>
          <input id="choice-1" type="radio" name="choice" value="1">
          <label id="choice-1-text" for="choice-1"></label>
        </li>
        <li>
          <input id="choice-2" type="radio" name="choice" value="1">
          <label id="choice-2-text" for="choice-2"></label>
        </li>
      </ul>
    <button id="choice-submit" type="submit" class="btn btn-fill btn-primary hundred-width">Submit Answer</button>
    </form>
  </div>
</div>

<script>
  $('#choice-submit').click(function() {
    event.preventDefault();
    console.log('clicked submit');
    var choiceValue = $( "input:radio[name=choice]:checked" ).val();
    $.post('/votes',{ choice: choiceValue });
    $('.question').hide();
    $('.holding-message').show();
  });
</script>

<script src="pusher-test-sub.js"></script>
<script>
  Pusher.instances[0].connection.emit('connected');
</script>
