<div class="container">
  <div class="col-sm-6">
    <h1><%= @event.title %></h1>
    <div id="event-id" style="display:none;"><%= @event.id %></div>
    <div id="pusher-key" style="display:none;"><%= Pusher.key %></div>

    <section class="space-50"> </section>

    <div class="holding-message">
      <h2>Awaiting Question</h2>
    </div>

<div class="container question">
  <div class="col-sm-6">
    <h2>Question <span id="question-number">?</span> of <%= @event.questions.count %>:</h2>
    <h1 id="question-title"></h1>
    <form class="question-form">
      <ul>
        <li>
          <input id="choice-1" type="radio" name="choice" value="1">
          <label id="choice-1-text" for="choice-1"></label>
        </li>
        <li>
          <input id="choice-2" type="radio" name="choice" value="1">
          <label id="choice-2-text" for="choice-2"></label>
        </li>
      </ul>
    <button id="choice-submit" type="submit" class="btn btn-fill btn-primary hundred-width">Submit Answer</button>
    </form>
  </div>
</div>

<script>
  $('#choice-submit').click(function() {
    event.preventDefault();
    console.log('clicked submit');
    var choiceValue = $( "input:radio[name=choice]:checked" ).val();
    $.post('/votes',{ choice: choiceValue });
    $('.question').hide();
    $('.holding-message').show();
  });

  function buildQuestion(data) {
    $('.question').show();
    $('.holding-message').hide();
    $('#testing').text(data.test);
    $('#question-number').text(data.question.id);
    $('#question-title').text(data.question.content);
    $('#choice-1-text').text(data.choices[0].content);
    $('#choice-2-text').text(data.choices[1].content);
    $('#choice-1').val(data.choices[0].id);
    $('#choice-2').val(data.choices[1].id);
  };
</script>
