<h1>Houston we have a problem.</h1>

<h4>Sorry, but we were unable to serve your request.</h4>

<br></br>

<a class="btn btn-primary btn-lg" href="javascript:history.back()">Back to previous page</a>

<br></br>

<a class="btn btn-primary btn-lg" href="root_path">Back to the homepage</a>