.question-form {
	border: 1px solid #e7e7e7;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
}

.right-of-form {
	border: 1px solid #e7e7e7;
	padding: 10px;
	text-align: justify;
	margin: 25px 0 0 0;
	border-radius: 6px;
}

.hundred-width {
	width: 100%;
}

.space-50 {
	height: 50px;
}

.top-20 {
	margin-top: 20px;
}

.no-padding-ul {
	padding-left: 0;
}

ul {
  list-style-type: none;
}

.question {
  display: none
}