/**********************************************************
  GLOBALS
**********************************************************/

p, a, li, h3, h4, h5, h6, input, label {
  font-weight: 200;
}

$section-bg: white;






/**********************************************************
  NAVBAR
**********************************************************/

.navbar {
  border-radius: 0;
}

.navbar-brand {
  h1 {
    color: white;
    margin-top: 0.43em;
    font-size: 1.3em;
    font-weight: bold;
  }
}






/**********************************************************
  NAVBAR BRAND
**********************************************************/

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  h1 {
    padding: 0;
    color: white;
  }
}





/**********************************************************
  EVENT ID MODAL
**********************************************************/
#event_id_wrapper {
  h2 {
    a:first-child {
      white-space: nowrap;
    }
  }

  .modal-content {
    font-size: 1.5em;
    padding: 1em 1em 1.7em 1em;
    text-align: center;
  }
  p {
    font-size: 0.5em;
  }
}

/**********************************************************
  JUMBOTRON
**********************************************************/

.jumbotron {
  border-radius: 0 !important;
}





/**********************************************************
  EVENTS PAGE
**********************************************************/

.new_event {
  margin-bottom: 1em;
}

.events_list {
  padding-left: 0;
  background-color: $section-bg;
}






/**********************************************************
  EVENT SHOW PAGE
**********************************************************/

.event-show-page-wrapper {
  h1:first-child {
    margin-bottom: 0;
  }
  h1:nth-child(2) {
    margin-top: 0;
  }

  section {
    margin-top: 2em;
  }
}





/**********************************************************
  QUESTIONS NEW PAGE
**********************************************************/

.new-question-wrapper{
  text-align: center;

  h3 {
    margin-bottom: 1em;
  }

  button:nth-child(3) {
    position: relative;
    bottom: 3.9em;
  }

  button:nth-child(5) {
    position: relative;
    bottom: 5.1em;
  }

  .form-group {
    .btn {
      position: relative;
      top: 5em;
    }
  }

  #choices-div {
    input {
      margin-top: 0.3em;
    }
  }
}





/**********************************************************
  VOTING PAGE
**********************************************************/

.voting-page-wrapper {
  text-align: center;

  section:first-child {
    margin-top: 0.5em;
    margin-bottom: 2em;
    background-color: $brand-primary;
    color: $section-bg;
    padding-top: 0.3em;
    padding-bottom: 1.4em;
  }

  .holding-message {
    padding: 1em 0 2em 0;
    background-color: $section-bg;
    #canvasloader-container {
      margin-top: 2em;
    }
  }

  .question {
    display: none;
    background-color: $section-bg;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 3%;
    padding-right: 3%;

    #question-title {
      margin-bottom: 1em;
    }

    .question-form {
      button {
        font-weight: 300;
      }

      .list-group {
        text-align: left;
        margin-bottom: 2em;

        #dvOptions {

          .list-group-item {
            label {
              font-weight: 300;
            }

            input {
              margin-right: 5%;
            }
          }
        }
      }
    }
  }
}