// $brand-primary: #5bc0de;
// $brand-primary: #52ADC8;
$brand-primary: #59BBD9;
// $brand-primary: #2081C3;

$brand-primary: #F42D03;
$brand-primary: #7067CF;

$body-bg: #f4f4fb;

$font-family-serif: 'Roboto Slab', serif;
$font-family-base: $font-family-serif;

$navbar-height: 50px;
$navbar-default-bg: $brand-primary;
$navbar-default-link-color: white;

$jumbotron-bg: white;

// $progress-bg: white;